
   <div class="products--vertical">
     <% products.each do |product| %>
     <div class="products--vertical__item">
       <figure class="products--vertical__figure">
         <%= link_to product_path(product) do %>
           <% image_tag product.photo.url %>
         <% end %>
       </figure>
       <div class="products--vertical__description">
         <div class="products--vertical__description--left">

           <a <%= link_to product_path(product) do%><p class="products--vertical__title">
              <%= product.name %></p><% end %></a>


 <p><%= product.description %></p>
         </div>
         <div class="products--vertical__description--right">
           <p class="products--vertical__price"><%= number_to_currency product.price %></p>

           <%= link_to "#", class: "btn btn-primary" do %>
             <span class="fa fa-shopping-cart"></span> Dodaj do koszyka
           <% end %>
         </div>
       </div>
     </div>
     <% end %>
   </div>
