<!DOCTYPE html>
<html>
	<head>
		<title>Robocik</title>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track'=> true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track'=> true %>
		<%= csrf_meta_tags %>
	</head>

	<body>
		<header class="header">
		<div class="nav">
		<div class="nav__logo">
			<a href="index.html">
				<%= image_tag("icons/logo_svg_orange.svg", alt: 'logo', class: 'nav__logo--img') %>
				<span class="nav__logo--string">Mandarynka</span>
			</a>
		</div>
		<div class="nav__search">
			<input class="search__item--input" type="text" name="search" placeholder="Szukaj"> <!--dodaj tutaj lupkę-->
			<button class="search__item--button" type="submit"><%= image_tag("icons/search.svg", alt: 'search', class: 'icon-img') %></button>
		</div>
		<div class="nav__menu menu">
			<ul class="menu__list">
				<li class="menu__item">
					<a><%= image_tag("icons/profile.svg", alt: 'profile') %></a>
					<% if signed_in? %>
      			Witaj, <%= current_user.email %>!
      			<%= button_to 'Wyloguj', sign_out_path, method: :delete %>
    			<% else %>
    			  <%= link_to 'Zaloguj', sign_in_path %>
    				<% end %>
				</li>
				<li class="menu__item">
					<a href="basket.html">
					<%= image_tag("icons/basket.svg", alt: 'basket') %>
						<span>Koszyk</span>
					</a>
				</li>
				<li class="menu__item">
					<a href="#">
						<%= image_tag("icons/phone.svg", alt: 'phone') %>
						<span class="color-nr">784 927 392</span>
					</a>
				</li>
			</ul>
		</div>
		</div>
		<div class="categories">
		<ul class="categories__list">
			<% Category.all.each do |category| %>
			<li class="categories__item">
				<%= link_to category.name, category_path(category) %>
			</li>
			<% end %>
		</ul>
		</div>
		<div class="promo">
			<ul class="promo__strings">
				<li class="promo__strings--item">
					<%= image_tag("icons/dollar.svg", alt: '$') %>
					<span>Poleca nas 99% klientów</span>
				</li>
				<li class="promo__strings--item">
					<%= image_tag("icons/dollar.svg", alt: '$') %>
					<span>Darmowa dostawa od 9999zł</span>
				</li>
				<li class="promo__strings--item">
					<%= image_tag("icons/dollar.svg", alt: '$') %>
					<span>Wysyłka w 24 godziny</span>
				</li>
				<li class="promo__strings--item">
					<%= image_tag("icons/dollar.svg", alt: '$') %>
					<span>Największy wybór sprzętu w Polsce</span>
				</li>
				<li class="promo__strings--item">
					<%= image_tag("icons/dollar.svg", alt: '$') %>
					<span>100 dni na zwrot</span>
				</li>
				<li class="promo__strings--item">
					<%= image_tag("icons/dollar.svg", alt: '$') %>
					<span>Punkty odbioru w całej Polsce</span>
				</li>
			</ul>
			<div class="promo__slider" id="promo__slider">
				<!--tu zrób slajder-->
				<div class="slider__arrow slider__arrow--back">
					<%= image_tag("icons/back.svg", alt: '<') %>
				</div>
				<div class="slider__arrow slider__arrow--next">
					<%= image_tag("icons/next.svg", alt: '>') %>
				</div>
				<!--slider start-->
				<ul class="slider__list" id="slider__list">
					<li class="slider__item slider__item--1">
						<%= image_tag("slider1.png", alt: '') %>
					</li>
					<li class="slider__item slider__item--2">
						<%= image_tag("slider2.png", alt: '') %>
					</li>
					<li class="slider__item slider__item--3">
						<%= image_tag("slider3.png", alt: '') %>
					</li>
					<li class="slider__item slider__item--4">
						<%= image_tag("slider4.png", alt: '') %>
					</li>
					<li class="slider__item slider__item--5">
						<%= image_tag("slider5.png", alt: '') %>
					</li>
				</ul>
			</div>
			<div class="promo__products">
				<div class="promo__box"><%= image_tag("promo1.png", alt: '') %></div>
				<div class="promo__box"><%= image_tag("promo2.png", alt: '') %></div>
				<div class="promo__box"><%= image_tag("promo3.png", alt: '') %></div>
			</div>
		</div>
		</header>

	<%= yield %>
	</body>
</html>
